#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.App {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

li p {
  margin: 5px 0;
}

body {
  padding-inline: 0; /* Padding 0 en móviles */
}

@media (min-width: 1024px) {
  body {
    padding-inline: 0; /* Padding horizontal de 4rem en pantallas grandes */
  }
}